.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: bold;
    font-style: normal;
  }

  /* Shared Styles */

.green-btn{
    color: white;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
  }

  .card-btn{
    height: 48px;
    width: 139px;
    font-size: 18px;
    font-weight: 600;
  }
/* Nav Styles */
header nav {
    display: flex;
    margin: 24px 160px;
    justify-content: space-between;
    align-items: center;
}
 h3{
    font-size: 32px;
}
header nav button {
    color: #006A50;
    border-radius: 8px;
    border: 1px solid #006A50;
    padding: 15px 30px;
    background-color: white;
    font-weight: 600;
    font-size: 15px;
    width: 116px;
    height: 52px;
}

/* Section-1 Idea */
section-1{   
    display: flex;
    justify-content: center;
    padding: 10px 100px;
}
.section1box .box {
    height: 326px;
    width: 622px;
}
.Bangladesh-box{

    width: 622px;
}

.Bangladesh-box h4{
    font-size: 24px;
    color: #0E0E0E;
    opacity: 50%;
} 
.Bangladesh-box h1{
    width: 622px;
    height: 201px;
    font-size: 57px;
    color: #0E0E0E;
} 
h4, h1, button {
    margin: 0;
    padding: 0;
  }
  h4 {
    margin-bottom: 16px; 
  }
  
  h1 {
    margin-bottom: 16px;
  }
  
  button {
    margin-top: 16px; 
  }
.section1box{
    width: 1280px;
    height: 560px;
    border-radius: 24px;
    background-color: #C6E4D6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1box .box{
    padding-bottom: 80px;
}
.section1box img{
    margin-left: 70px;
}

.btn1{
    width: 270px;
    height: 56px;
    font-size: 18px;
    font-weight: 600;
}

/* Pillars */
.pillar-head {
    font-size: 40px;
    margin: 100px 10px 0px 160px ;
}
.pillar-box{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px 160px 160px;
    width: 1280px;
    height: 244px;

}
.box{
    width: 302px;
    height: 244px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1); 
}
.box img{
    width: 64px;
    height: 64px;
    padding: 25px;
}
 h5{

    font-weight: 700;
    margin: 0 25px;
    font-size: 20px;
    opacity: 80%;
}
.box p{
    margin: 15px 24px;
    opacity: 70%;
}

/* Section-2 */
.section-2{

    margin: 160px 160px 0px 160px;
    width: 1280px;
    height: 765px;
}

.section-2 p{
    color: #0E0E0E;
    font-weight: 400;
    opacity: 70%;
    font-size: 16px;
    margin: 32px 0px;

}

.vision-box-container{
    display: flex;
    justify-content: space-between;
    margin: ;
}

.vi-box{
    width: 410px;
    height: 325px;
    border-radius: 16px;
}

.vi-box img{
    padding: 32px 24px 32px;
    width: 64px;
    height: 64px;
}

.vi-box h5{
    margin-left: 32px;
}

.vi-box p{
    margin: 12px 24px 32px 32px;
}

.vi-box button{
    margin-left: 32px;
    text-align: center;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    color: white;
    border: none;

}

.vbox-btn1{
    background-color:#5490F5 ;
}
.vbox-btn2{
    background-color:#09A15C ;
}
.vbox-btn3{
    background-color:#FFC239 ;
}


.vi-bg1{
    background-color:  #D5E1F5 ;   
}
.vi-bg2{
    background-color: #C6E4D6;
}
.vi-bg3{
    background-color: #F7EBCF;
}

.yunus{
    width: 1280px;
    height: 230px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 25px 15px;
    background-color: white;
    margin-top: 32px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1); 

}
.yunus p:nth-child(1) {
    color: #0e0e0e;
    opacity: 80%;
    padding: 40px 24px 12px 24px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
.yunus h5{
    margin: 0;
    padding-left: 24px;
}
.yunus p:nth-child(3) {
    color: #0E0E0E;
    opacity: 60%;
    margin: 0;
    padding-left: 24px;
    padding-top: 4px;
  }




  /* Section-3 Recent News */


.section-3{
    height: 1406px;
    width: 1280px;
    background-color: rgb(255, 255, 255);
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 160px;
    margin-right: 160px;
}
.section-3 h1{
    font-size: 40px;
    font-weight: 700;
    margin: 0;;
}
.section-3 p{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 70%;
    margin: 20px 0px 20px 0px;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
}
.card{
    width: 1280px;
    height: 402px;
    background-color: #ffffff;
    margin: 12px 0px 0px ;
    border-radius: 24px;
    display: flex;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1); 
    
}

.card-img{
    margin: 0;
    padding-left: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 32px;
}
.img-border{
    border-radius: 24px;
}

.card-writting{
    width: 740px;
    height: 290px;
    padding-top: 48px;
    padding-bottom: 48px;
}
.card-writting h5{
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}
.p-contain{
    display: flex;
}
.p-contain p{
    padding-right: 12px;
}
.card-rev{
    flex-direction: row-reverse;
}


/* Donate section-4 */

.section-4{
    margin-bottom: 80px;
}
.dnt-container{
    height: 414px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 160px;
    padding: 0;
}
#dnt-para{
    text-align: center ;
    opacity: 70%;
}
.dnt-container p{
    font-size: 16px ;
    font-weight: 400 ;
    color: black;
}
.tk-box{
    display: flex;
    justify-content: space-between;
    width: 1071px;
    height: 128px;
}

.tk{
    width: 240px;
    height: 128px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);


}
.tm32p{
    margin-top: 32px;
}
.tk p{
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
#input-taka{
    width: 1032px;
    height: 64px;
    border: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
}
#input-taka::placeholder {
  opacity: 30%;
  font-size: 20px;
  font-weight: 400;
}

.news{
    width: 1280px;
    height: 395px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-left: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.news h3{
    font-size: 40px;
    color: black;
    font-weight: 700;
}

#news-para-1{
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    opacity: 70%;
    width: 622px;
    text-align: center;
}
.email-nibo{
    display: flex;
    align-items: end;
}
.email-nibo .email-dao{
    width: 600px;
    height: 46px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
}
.email-nibo button{
    height: 48px;
    width: 139px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #006A50;
    border-top-right-radius:8px ;
    border-bottom-right-radius:8px ;
    border: none;
}

#news-para-2{
    color: black;
    opacity: 70%;
    font-size: 16px;
    font-weight: 400;
}